<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="com.github.jknack.Antlr4.tool">
<stringAttribute key="antlr4.arguments" value="-listener -visitor -encoding UTF-8 -o target/com/proteus/preprocess/pp/gen -package com.proteus.preprocess.pp.gen"/>
<stringAttribute key="antlr4.grammar" value="/p416Preprocessor/grammar/P416PPParser.g4"/>
<stringAttribute key="antlr4.vmArguments" value=""/>
</launchConfiguration>
